/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.product{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.product img{
	float: left;
	margin-right: 20px;
}

.detail-product-typify{
	position: relative;
	float: left;
	margin-right: 6px;
	margin-bottom: 3px;
}

.title-product-typify p{
	font-size: 18px;
	color: #965b18;
	font-weight: 600;
}

.detail-product-typify img{
	float: left;
}

.detail-product-typify h5{
	position: absolute;
	bottom: 0px;
	font-size: 15px;
	color: #fff;
	background-color: #484846;
	text-align: center;
  	padding: 20px;
  	width: 98%;
  	opacity: 0.8;
}

.detail-product-typify p{
	bottom: 0px;
	font-size: 15px;
	color: #484846;
	text-align: center;
}

.info-product-typify-kh img{
	margin-left: 75px;
}

.detail-product-typify .modal-content{
	display: inline-block;
}

.title-product-typify{
	margin-top: 20px;
}

.product-typify-bot{
	display: inline-block;
	width: 100%;
}