
/* ==========================================================================
   Author's custom styles
   Dev by Nghianguyen1903@gmail.com
   ========================================================================== */


.partbership{
	margin-top: 50px;
}

.image-partbership img{
	width: 220px;
	border: 1px solid #d8d8d8;
}


.info-content-partbership h5{
	font-size: 30px;
	font-weight: 400;
	color: #282828;
	border-bottom: 6px solid #f0720a;
	margin-top: 0px;
}

.info-content-partbership h5:nth-child(1){
	width: 40%;
}

.info-content-partbership:nth-child(2) > h5{
	width: 90%;
}

.info-content-partbership:nth-child(3) > h5{
	width: 100%;
}

.info-content-partbership p{
	font-size: 14px;
	font-weight: 400;
	color: #282828;
}

.chart{
	margin-bottom: 50px;
}