@charset"utf-8";

/* ==========================================================================
   Responsive CSS
   ========================================================================== */

/* #Tablet (Landscape) 1024px */

/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 960px) and (max-width: 1240px) {

/*********************home*****************/	
    
   .banner img{
   		width: 100%;
   }

   .title-banner {
	    width: 100%;
	}
	.image-product .modal-content{
		margin-top: 100px;
	}
	.infomation-product .item img{
		/*width: 30%;*/
	}

/**************************end home*****************/

}
/* #Tablet (Portrait) 768px */

/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {
/*********************contact*****************/	
    .maps iframe{
		width: 80%;
		max-width: 100%;
	}

	.maps span img{
		width: 80%;

	}
	.search-page{
		max-width: 100%;
	}
	/*.search-page input{*/
	/*	width: 80%;
	}*/
	/*.search-page button{
		right: 170px;
	}*/
	.form-top .col-md-6 input{
		width: 82%;
	}
	.title-banner{
		width: 100% !important;
	}

	.home-banner .owl-item{
		width: 100%;
	}
	.banner img{
		width: 100%;
	}
	.image-product .modal-content{
		margin-top: 300px;
	}

	.title-banner{
		width: 90% !important;
	}
	.infomation-product .item img{
		/*width: 28%;*/
	}
	.list-info-news .info-news{
		margin-bottom: 20px;
		margin-left: 60px;
	}
	.btn-product{
		margin-left: 43px;
		margin-bottom: 20px;
	}
}

/* #Mobile (Landscape) 480px */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.menu-header li{
		width: 98%;
		margin-left: 0px !important;
	}

	.menu-header li.active a,
	.menu-header li a{
		border-radius: 0px;
		border-right: 0px;
		margin-bottom: 5px;
	}
	.menu-header li:last-child a{
		border-radius: 0px;
		border-right: 0px;
		margin-right: -5px;
	}
	.menu-header{
		margin-top: 0px;
	}
	.title-banner{
		width: 75%;
		top: 10px;
	}

	.title-introduce h5{
		padding-left: 35px;
		margin-left: 130px;
		margin-right: 132px;
	}
	.infomation-product .item img{
		margin-bottom: 20px;
	}
	.list-info-news .info-news{
		margin-left: 80px;
		margin-bottom: 20px;
	}
	.image-product .modal-content img{
		
		margin-bottom: 20px;
	}
	.date-time{
		width: 100%;
	}
	.image-news{
		margin-left: 40px;
	}
	.content-news{
		padding: 10px;
		margin-top: 20px;
	}
	.product img{
		width: 100%;
		margin-bottom: 20px;
	}
	.detail-product-typify{
		margin-left: 85px;
	}
	.image-product .modal-content img{
		width: 100%;
	}
	.image-news{
		width: 90%;
	}
	.image-news img{
		margin-left: 50px;
	}
}
/*  #Mobile (Portrait) 320px
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 100px) and (max-width: 479px) {
	.menu-header li{
		width: 98%;
		margin-left: 0px !important;
	}

	.menu-header li.active a,
	.menu-header li a{
		border-radius: 0px;
		border-right: 0px;
		margin-bottom: 5px;
	}
	.menu-header li:last-child a{
		border-radius: 0px;
		border-right: 0px;
		margin-right: -5px;
	}
	.menu-header{
		margin-top: 0px;
	}
	.title-banner{
		display: none;
	}
	.title-introduce h5{
		padding-left: 0px;
		margin-left: 57px;
		margin-right: 25px;
	}
	.infomation-product .item img{
		margin-left: 10px;
		width: 84%;
		margin-bottom: 10px;
	}
	.list-info-news .info-news{
		margin-left: 8px;
		margin-bottom: 10px;
	}
	.image-product .modal-content img{
		width: 100%;
	}
	.image-product .modal-content p{
		padding: 10px;
	}
	.product img{
		max-width: 100%;
	}
	.info-product-typify-kh img{
		margin-bottom: 25px;
	}
	.detail-product-typify img{
		max-width: 100%;
	}
	.info-news img{
		max-width: 100%;
	}
}
