/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.product{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.product img{
	float: left;
	margin-right: 20px;
}