/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.maps iframe{
	width: 100%;
	max-width: 100%;
}

.maps span img{
	width: 100%;
	margin-top: -10px;
}

.detail-info-contact{
	width: 100%;
	display: inline-block;
}

.title-info-contact p{
	font-size: 16px;
	color: #3a3a3a;
	padding-left: 20px;
	padding-top: 10px;
}

.form-top{
	margin: 0px;
	margin-bottom: 20px;
}

.form-top .col-md-6 input{
	width: 100%;
	max-width: 100%;
	height: 48px;
	background-color: #f7f7f7;
	border: none;
	padding: 25px;
	font-size: 16px;
	color: #b6b6b6;
}

.form-message .col-md-9 textarea{
	width: 100%;
	max-width: 100%;
	background-color: #f7f7f7;
	border: none;
	padding: 25px;
}