
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.container{
	width: 940px;
}

#container{
	background-color: #f8f8f8;
}

/*=========================================================================
  ================================HEADER===================================
  =======================================================================*/

.telephone h2{
	font-size: 21px;
	color: #ff0000;
	font-weight: 700;
}

.search-page{
	position: relative;
}

.search-page input{
	max-width: 100%;
	width: 100%;
	height: 38px;
	border: 2px solid #d7d7d7;
	padding-left: 20px;
	margin-top: 10px;
	font-size: 14px;
	color: #b1b1b1;
}

.search-page button{
	position: absolute;
	right: 30px;
	border: none;
	background: none;
	top: 18px;
	font-size: 20px;
	color: #b5b5b5;
}

.menu-header{
	margin-top: 38px;
	margin-left: 6px;
}

.menu-header li a{
	font-size: 16px;
	font-weight: 700;
	color: #f8f8f8;
	background: transparent url('../img/partant.jpg') ;
	border-radius: 2px;
	padding: 14px 39px;
	margin-right: -5px;
	border-right: 5px solid #975909;
}

.menu-header li a:hover,
.menu-header li.active a:hover{
	background: transparent url('../img/hover.jpg') ;
}

.menu-header li:last-child a{
	border-right: none;
	margin-right: 0px;
	border-radius: 5px;
}

.menu-header li.active a{
  	background: transparent url('../img/partant.jpg') ;
  	border-radius: 5px;
  	padding: 14px 39px;
  	margin-right: -5px;
  	border-right: 5px solid #975909;
}

/*************************************************************/

.home-banner{
	margin-top: 30px;
	margin-bottom: 50px;
}

.home-banner .item{
	position: relative;
}

.banner img{
	max-width: 100%;
}

.title-banner{
	position: absolute;
	background-color: #251e1a;
	top: 100px;
	left: 30px;
	opacity: 0.7;
	width: 46%;
	padding-left: 30px;
	padding-top: 20px;
}

.title-banner p{
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}

.title-banner a{
	font-size: 16px;
	color: #515151;
	font-weight: 400;
	background-color: #fff;
	padding: 8px 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.title-banner a:hover{
	background-color: #bfbdba;
}

.owl-theme .owl-pagination{
	margin-top: -50px;
}

.owl-theme .owl-pagination .owl-page span{
	background: #fff;
	border: 5px solid #fff;
}

/******************************************************/

.title-introduce{
	text-align: center;
}

.title-introduce h5{
	font-size: 24px;
	color: #515050;
	border-bottom: 1px solid #515151;
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 20px;
}

.content-introduce{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
}

.content-introduce p{
	font-size: 16px;
}

.content-introduce a{
	font-size: 16px;
	color: #965b18;
}

.content-introduce a:hover{
	color: #c57a24;
}

/*********************************************/

.infomation-product{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 35px;
	margin-top: 70px;
}

.infomation-product .content-product img{
	max-width: 100%;
}

.infomation-product .owl-item{
	width: 431px !important;
	margin-left: 20px;
}

/*************************************************/

.infomation-news{
	background-color: #fff;
	margin-top: 80px;
	display: inline-block;
	width: 100%;
}

.title-info-news{
	text-align: center;
	font-size: 20px;
	color: #747474;
	font-weight: 700;
	padding-top: 35px;
	padding-bottom: 30px;
}

.info-news{
	float: left;
}

.list-info-news{
	display: inline-block;
	width: 100%;
}

.list-info-news .info-news{
	float: left;
	position: relative;
	margin-left: 10px;
}

.content-info-news{
	position: absolute;
	bottom: 0px;
	background-color: #323330;
	opacity: 0.8;
	padding-left: 20px;
}

.content-info-news h5{
	font-size: 17px;
	color: #fff;
	font-weight: 400;
}

.content-info-news p{
	font-size: 12px;
	color: #fff;
	font-weight: 400;
}

.see-more{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.see-more a{
	font-size: 17px;
	color: #747474;
	margin-right: 15px;
}

.see-more a:hover{
	color: #939393;
}

/**************************************************/

.info-contact{
	margin-top: 70px;
	background-color: #fff;
	margin-left: 0px;
	margin-right: 0px;
}

.menu-footer li{
	margin-left: 0px !important;
	width: 100%;
	margin-bottom: 20px;
}

.menu-footer li a{
	padding: 12px 16px;
	border-radius: 0px;
	border: none;
	margin-right: 0px;
}

.menu-footer li:last-child a{
	border-radius: 0px;
	border: none;
}

.detail-contact{
	margin-top: 38px;
}

.detail-contact p{
	font-size: 17px;
	color: #737373;
	margin-bottom: 17px;
}

.detail-contact .telephone{
	display: inline-block;
	width: 100%
}

.detail-contact .telephone p{
	float: left;
	margin-right: 5px;
}

.phone-number{
	float: left;
}

.detail-contact .search-page .glyphicon-search{
	right: 10px;
}

.detail-product{
	margin-top: 38px;
	display: inline-block;

}

.image-product{
	float: left;
}

.footer-bot{
	background-color: #252525;
	height: 65px;
	text-align: center; 
}

.footer-bot p{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	padding-top: 10px;
}

.footer-bot h5{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}

.footer-bot a{
	font-size: 14px;
	color: #fff;
	font-weight: 600;
}

.btn-product{
	padding: 0px;
	margin-right: 5px;
	margin-bottom: 8px;
}