/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.news-detail{
	display: inline-block;
	width: 100%;
}

.news-info{
	background-color: #f8f8f8;
	padding-top: 20px;
}

.date-time{
	text-align: center;
	float: left;
	margin-right: 20px;
}

.date-time h3{
	font-size: 52px;
	color: #965b18;
	font-weight: 400;
}

.date-time p{
	font-size: 20px;
	color: #393939;
	font-weight: 400;
}

.date-time h5{
	font-size: 16px;
	color: #393939;
	font-weight: 700;
}

.image-news{
	float: left;
	margin-right: 20px;
	margin-top: 17px;
}

.content-news h5{
	font-weight: 600;
	color: #555555;
	font-size: 22px;
}

.content-news p{
	font-weight: 400;
	color: #555555;
	font-size: 16px;
}