@charset"utf-8";

/* ==========================================================================
   Responsive CSS
   ========================================================================== */

/* #Tablet (Landscape) 1024px */

/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 960px) and (max-width: 1240px) {

/*********************home*****************/	
    
   .banner img{
   		width: 100%;
   }

   .title-banner {
	    right: 0px;
	    max-width: 530px;
	}

/**************************end home*****************/

}
/* #Tablet (Portrait) 768px */

/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {
/*********************home*****************/	
    
	ul.main-nav li {
		padding: 10px 30px;
	}

   .banner img{
   		width: 100%;
   }

   .title-banner {
	    right: 0px;
	    max-width: 385px;
	    top: 20px;
	}

	.title-banner h3{
		max-width: 365px;
		margin-bottom: 10px;
	}

	.title-banner p{
		margin: 0px;
	}

	.vector-connect {
	    padding-top: 122px;
	}

	.vector-connect img {
	    max-width: 220px;
	}

	.content-vector{
		max-width: 255px;

	}

	.smart-connect .passionate-top {
	   	top: 80px;
	    right: 0px;
	}	

	.smart-connect .passionate-bottom {
	    top: 200px;
	    left: 160px;
	    right: 0px;
	}

	.info-latest-blog-news {
	    max-width: 365px;
	    float: left;
	    margin-bottom: 20px;
	}

	.content-project {
	    max-width: 235px;
	    float: left;
	}	

	.logo-our-client .col-md-3{
		width: 175px;
		float: left;
	}	

	.contact-messenger .text-messenger {
		width: 100%;
	}

	.contact-last {
		width: 100%;
	}	
											
/**************************end home*****************/
    .image-partbership{
    	text-align: center;
    }

    .chart{
    	text-align: center;
    }
}

/* #Mobile (Landscape) 480px */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.nav-toggle-menu{
		margin-top: -55px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.menu-navbar-header li{
		margin-top: 20px;
	}

	.menu-navbar-header{
		max-width: 50%;
	}

	.menu-navbar-header li a:hover{
		border-bottom: none !important;
		color: #db7737;
	}

	ul.main-nav li{
		width: 99%;
		border-bottom: 1px solid #545454;
	}

	ul.main-nav li a {
		border-bottom: none; 
		padding: 0px 0px 5px;
	}

	ul.main-nav li a:hover {
		border-bottom: none !important;
		border-radius: none;
	}

	ul.main-nav li a:hover{
		color: #db7737;
	}


	.banner img {
	    width: 100%;
	}

	.title-banner{
		display: none;
	}

	.vector-connect img {
	    display: none;
	}	
								
	.content-vector{
		width: 100%;
		position: relative;
	}	

	.vector-connect {
	    padding-top: 0px;
	    padding-left: 0px;
	}

	.smart-connect {
	    text-align: center;
	}		

	.smart-connect .passionate-bottom {
	    top: 100px;
	    right: 0px;
	}				
  	
  	.info-latest-blog-news {
	    margin-bottom: 20px;	
	}

	.logo-our-client img {
	    max-width: 100px;
	}
/******************news*****************/

	.image-info-new img{
		width: 100%;
	}

/*************************************/

	.chart-left img{
		width: 95%;
	}

	.info-content-partbership h5:nth-child(1) {
	    width: 65%;
	}
}
/*  #Mobile (Portrait) 320px
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 100px) and (max-width: 479px) {

	.nav-toggle-menu{
		margin-top: -55px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	.menu-navbar-header li{
		margin-top: 20px;
	}

	.menu-navbar-header{
		max-width: 50%;
	}

	.menu-navbar-header li a:hover{
		border-bottom: none !important;
		color: #db7737;
	}

	ul.main-nav li{
		width: 99%;
		border-bottom: 1px solid #545454;
	}

	ul.main-nav li a {
		border-bottom: none; 
		padding: 0px 0px 5px;
	}

	ul.main-nav li a:hover {
		border-bottom: none !important;
		border-radius: none;
	}

	ul.main-nav li a:hover{
		color: #db7737;
	}
    
   ul.main-nav{
		margin-top: 20px;
	}

	ul.main-nav li{
		width: 99%;
	}

	.banner img {
	    width: 100%;
	}

	.title-banner{
		display: none;
	}

	.vector-connect img {
	    display: none;
	}	
								
	.content-vector{
		width: 100%;
		position: relative;
	}	

	.contact-form .contact-name .text-name {
	    width: 278px;
	}

	.vector-connect {
	    padding-top: 0px;
	    padding-left: 0px;
	}

	.contact-messenger p {
	    margin-top: 30px;
	}

	.contact-last .btn-send-messenger {
	    width: 273px;
	}

	.smart-connect {
	    text-align: center;
	}		

	.smart-connect .passionate-bottom {
	    top: 100px;
	    right: 0px;
	}				
  	
  	.info-latest-blog-news {
	    margin-bottom: 20px;	
	}

	.logo-our-client img {
	    max-width: 100px;
	}

/******************news*****************/

	.image-info-new img{
		width: 100%;
	}
    
    .info-recent-post img{
    	width: 35%;
    }

/************************************/

	.chart-left img{
		width: 95%;
	}

	.chart-right img{
		width: 90%;
	}
}
